body {
  background-color: #282126;
  color: white;
}

h2 {
  margin-bottom: 0;
}

p {
  text-align: center;
  margin-bottom: 0;
}

img {
  width: 72px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  opacity: 0.25;
}

.section {
  padding: 2rem 0 0 0;
  text-align: center
}

.iphone {
  background-image: url('../images/iphone.png');
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: white;
}